<div class="well">
  <h1 class="text-center">User List</h1>
</div>
<div class="new-btn">
  <%= link_to "Add New User", new_admins_user_path, class: "btn btn-primary btn-lg" %>
</div>
<div style="margin:10%;"></div>
<div class="table-responsive">
  <table class="table table-bordered" id="user-listing">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.try(:contact_no) %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to "Edit", edit_admins_user_path(user), class: "btn btn-warning btn-xs" %>
            
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        destroy_users_admins_user_path(user),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#user-listing").DataTable();
  });
</script>